/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 1, 2018, 4:58:46 PM
    Author     : Sinisa
*/

.main {
    -fx-width: 100%;
    -fx-height: 100%;
    -fx-background-color: #175184;
}

.month {
    /* -fx-border-color: green; */
}

.day {
    
    -fx-background-color: #cddce9;
    -fx-padding: 5 5 5 5;
}

.today {
    -fx-background-color: #000055;
    
    -fx-padding: 5 5 5 5;
}

.calDayIndex {
    
    -fx-font: 50 Arial;
}

.today .calDayIndex {
    -fx-text-fill: #cddce9;
}

.calDayName {
    -fx-text-fill: #175184;
    -fx-font: 20 Arial;
}

.today .calDayName {
    -fx-text-fill: #cddce9;
}

.calMonth {
    -fx-text-fill: #175184;
    -fx-font: 20 Arial;
}

.today .calMonth {
    -fx-text-fill: #cddce9;
}

