/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 1, 2018, 4:58:46 PM
    Author     : Sinisa
*/

.main {
    -fx-background-color: #175184;
    -fx-padding: 5 5 5 5;
}

.month {
    /* -fx-border-color: green; */
}

.day {
    
    -fx-background-color: #cddce9;
    -fx-padding: 5 5 5 5;
}

.today {
    -fx-background-color: #000055;    
    -fx-padding: 5 5 5 5;
}

.calDayIndex {
    -fx-font: 50 Arial;
}

.today .calDayIndex {
    -fx-text-fill: #cddce9;
}

.calDayName {
    -fx-text-fill: #175184;
    -fx-font: 20 Arial;
}

/* Today */
.today .calDayName {
    -fx-text-fill: #cddce9;
}

.calMonth {
    -fx-text-fill: #175184;
    -fx-font: 20 Arial;
}

.today .calMonth {
    -fx-text-fill: #cddce9;
}

.today .calEvent {
    -fx-text-fill: #cddce9;
}

/* Holiday */
.holiday {
    -fx-background-color: #cc0000;    
}

.holiday .calMonth, .holiday .calDayIndex, .holiday .calDayName, .holiday .calEvent {
    -fx-text-fill: #cddce9;
}

.calEvent {
    -fx-font: 12 Arial;
    -fx-alignment: center;
    /* -fx-text-fill: #cddce9; */
}

.calendar-control-panel {
    
}

.calendar-month-title {
    -fx-font: 40 Arial;
    -fx-text-fill: #FFD700; /* gold */
    /* -fx-text-fill: #DAA520; */ /* golden rod */
    /* -fx-text-fill: #F0E68C; */ /* gold */        
}


.dialog {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-radius: 15;
    -fx-padding: 50;
}

/* Named day */


