.vbox {
    -fx-background-image: url(Slike/empty-background.png); 
    -fx-min-width: 0px;
    /* -fx-padding: 10 35 0 35; */ 
}

.caption {
    -fx-fill: #175184;
    -fx-font: 12 Arial;
    -fx-font-weight: 600;
    -fx-padding: 15 15 15 15;
    
}

.frame {
    -fx-pref-width: 280px;
    -fx-min-height: 63px;
/*    -fx-background-color: #cddce9;   */
    -fx-background-image: url(Slike/non-selected-background.png);
    /* -fx-background-color: transparent;    */
    -fx-insets: 25 25 25 25;
    -fx-padding: 0 30 0 30;
}


.flow {
    /* -fx-background-color: #175184; */
    -fx-background-color: transparent;
    -fx-min-height: 500px;
    /* -fx-padding: 5 5 5 5;*/
}

.title {
    -fx-font: 25 Arial;
    -fx-text-fill: #cddce9;    
}

.selected {
    -fx-background-image: url(Slike/selected-background2.png);
    -fx-overflow: visible;
}

.selected .caption {
    -fx-fill: white;
}

.selected .rect {
    -fx-fill: transparent;
}

.rect {
    -fx-fill: #cddce9;
}

